


@media (max-width: 1920px) {

  body{
    font-size: 16px;
  }
  article > h1{
    width: 90%;
    color: var(--white);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
  }
  
  article > h2{
    width: 90%;
    color: var(--white);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
  }
  }



@media (max-width: 1200px) {

  body{
    font-size: 10px;
  }
  
  img{
    object-fit: fill;
  }
  article > h1{
    width: 90%;
    font-size: 2.8em;
  }
  article > h2{
    width: 90%;
    font-size: 2.3em;
  }
}

@media (max-width: 1024px){

  article > h1{
    width: 90%;
    font-size: 2em;
  }
  article > h2{
    width: 90%;
    font-size: 2em;
  }


}

@media (max-width: 992px) {
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  
   /*  img{
      object-fit:cover ;
    } */
    .abt-img{
      width: 400px;
      height: 575px;
      object-fit: scale-down;
    }
    section{
      width: 100%;
      height: 60em;
    }
    .hero-img{
      width: 90%;
    }

    
    article{
      width: 100%;
      height: 65em;
    }
    article > h1{
      width: 90%;
      font-size: 3.7em;
    }
    article > h2{
      width: 90%;
      font-size: 3.5em;
    }
}

@media (max-width: 768px) {
  body {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }



  header {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid  var(--white);
  }

  .navbar{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
 

  .logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.625em;
    margin-left: 0;
  }

  li a {
      
    margin-left: 0px;
    
  }
  img{
    object-fit:cover ;
  }

  .abt-img{
    width: 400px;
    height: 600px;
    object-fit: scale-down;
  }
  

 
  section{
    width: 100%;
    height: 68em;
  }
  .hero-img{
    width: 90%;
  }
  .mit-link{
    margin: 0 40px 0 40px;
  }
  article{
    width: 100%;
    height: 70em;
  }
  article > h1{
    width: 90%;
    font-size: 3.7em;
  }
  article > h2{
    width: 90%;
    font-size: 3.5em;
  }

}

@media (max-width: 576px) {
  
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  img{
    object-fit: scale-down;
  }
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  
    img{
      object-fit: fill;
    }
    li a {
      
      margin-left: 0px;
      
    }

    section{
      width: 100%;
      height: 55em;
    }
  

    .mit-link{
      margin: 0 40px 0 40px;
    }
    .hero-img{
      width: 90%;
    }
    article{
      width: 100%;
      height: 70em;
    }
    article{
      width: 100%;
      height: 40em;
    }
    article > h1{
      width: 90%;
      font-size: 2.5em;
    }
    article > h2{
      width: 90%;
      font-size: 2em;
    }
    small{
      margin-left: 30px;
    }
    .icons{
      margin-right: 30px;
    }
}

